@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');


body {
 font-family: 'Outfit',
  sans-serif;
 font-size: 15px;
}

.flex-container {
 display: flex;
 justify-content: center;
 align-items: center;
 background-color: hsl(220, 15%, 55%);
}

.box-container {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 background-color: hsl(0, 0%, 100%);
}

.qr-code-container{
 height : 400px;
 width : 400px;
}

.text-container h1 {
  font-weight: 700;
 }

.text-container p {
  
  font-weight: 300;
 }
