@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

$font-family : 'Outfit', sans-serif;
$font-size-paragraph : 15px;
$white : hsl(0, 0%, 100%);
$gray: hsl(212, 45%, 89%);
$grayish-blue: hsl(220, 15%, 55%); 
$dark-blue: hsl(218, 44%, 22%);
$mobile-width : 375px;
$desktop-width : 1440px;