@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');


body {
 font-family: 'Outfit',
  sans-serif;
 font-size: 15px;
}

.flex-container {
 display: flex;
 justify-content: center;
 align-content: center;
 flex-direction: column;
 width: 1440px;
 background-color: hsl(220, 15%, 55%);
}

.box-container {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-content: center;
 width : 800px;
 height : 800px;
 background-color: hsl(0, 0%, 100%);
}

.box-container img{
 height : 400px;
 width : 400px;
}

.box-container h1 {
  display: flex;
  justify-content: center;
  align-content: flex-end;
  font-weight: 700;
 }

.box-container p {
  display: flex;
  justify-content: center;
  align-content: flex-end;
  font-weight: 300;
 }
